@model EmployeeView
@{
    if (Model.Id < 1)
    {
        ViewData["Title"] = "Добавить сотрудника";
    }
    else
    {
        ViewData["Title"] = "Редактирование сотрудника";
    }

    Layout = "_LayoutHeaderFooter";
}

<div id="contact-page" class="container">
    <div class="bg">
        <div class="container">
            @await Html.PartialAsync("_BreadCrumb")
        </div>
        <div class="row">
            @await Html.PartialAsync("Partial/_EditAndAddEmployee")
        </div>
    </div>
</div>